* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #F9F4FB;
    margin: 0 auto;
    text-align: center;

    height: 100vh;
    
}

header svg {
    margin-bottom: 1.7rem;

}

header h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 3.2rem;
    align-items: center;
    line-height: 4.0rem;
    color: #B52184;

}

header h2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 2.5rem;
    align-self: center;

    margin-top: 0.5rem;
}

header button {
    margin-top: 3.5rem;
    

    width: 5.8rem;
    height: 10.5rem;

    background: #F9F4FB;
    border: 0.4rem solid #B52184;
    border-radius: 76rem;
    cursor: pointer;
    
}

header button svg {
    margin:auto;
    
}


.caixas {
    background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
    padding: 5rem 4rem;
}


main div section {
    background: #FFFFFF;

    box-shadow: 0px 3.31077px 13.2431px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;

    padding: 2.6rem 5.9rem 2.6rem 2.6rem;
    margin-bottom: 4.9rem;
}

main div section img {
    width: 8rem;
    height: 8rem;
}

main div section h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 2.9rem;
    color: #B52184;

    margin-top: 3.3rem;

    min-width: 22.9rem;
}

main div section p {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: #312D64;

    margin-top: 1.9rem;

   
}

.formu {
    background-color: #F9F4FB;
}

.formu form {
    padding: 7.8rem 4.0rem;
}

.formu form fieldset {
    display: flex;
    flex-direction: column;

}

.formu form legend {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4.0rem;
    color: #B52184;

    margin-bottom: 2rem;
}

.formu form label {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
}

.formu form label {
    display: none;
}

.label-icon {
    position: relative;
    bottom:2.8rem;
    left:1.6rem;
}

input:focus::placeholder {
    color: transparent;
}

textarea:focus::placeholder {
    color:transparent;
}

.formu form input, .formu form textarea {
    border: 1px solid #312D64;
    border-radius: 1.2rem;

    height: 1.5rem;
    padding: 1rem;

    

    width: 28rem;

    background: #F9F4FB;

    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    color: #312D64;
}

input.with-icon {
    text-indent: 3.8rem;
    background-image: url("assets/marte.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

#mensagem {
    margin-bottom:2rem;
    height: 9.8rem;

}

.formu form button {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #FFFFFF;

    padding: 1.05rem 1.6rem;
    background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
    border-radius: 1.6rem;

    max-width: 16rem;
    cursor: pointer;

}

footer {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 2.4rem;
    text-align: center;
    color:#FFFFFF;
    background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}